

  .appheader2{
    height: 8vh;
    width: 100vw;
    background-color: #ab2a19;
    display: flex;
    flex-direction: row;
    /* padding-left: 27vw; */
    justify-content: flex-start
  }
  .headershelfie2{
    /* color: white; */
    /* border: 1px black solid; */
    width: 25vw;
    display: flex;
    background-color: #d34735;
    flex-direction: row;
    justify-content: left;
    padding-top: 8px;
    word-wrap: none;
  }
  .hs2{
    background-color: transparent;
    height: 60px;
    width: 80px;
    border-style: none;
    color: white;
    width: 30vw;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    margin: -7px
    
    /* font-weight: bold; */
  }
  
  .mainbox2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around
  }

  .logo2{
    /* border: 1px black solid; */
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px
  }

  .innerpart{
    color: white;
    display: flex;
    padding-left: 7px;
    background: #ed6b5a;
    width: 100vw;
    font-weight: bold;
  }
  /*_______________________*/
  .mainbox2{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  P{
    font-size: 8px; 
    padding-left: 14px;
    font-weight: bold;
}

  .inputarea{
      height: 100vh;
      width: 62vw;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
  }

  .inputbox{
      height: 65px;
      width: 500px;
      border-radius: 7px;
      border:  #ed6b5a 1px solid;
      font-size: 35px
  }

  .picholderbox{
      /* border: 1px black solid; */
      height: 100vh;
      width: 28vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 50px
  }
  .pic{
    border: 1px black solid;
    display: flex;
    height: 230px;
    width: 250px;
 
    /* margin: 50px */

  }
  .editdeletebutton{
      background: lightgray;
      border: none;
      border-radius: 7px;
      height: 70px;
      width: 200px;
      font-size: 32px;
      font-weight: bold;
  }

  .editdeletecontainer{
      /* border: 1px black solid; */
      display: flex;
      justify-content: space-between;
      padding-right: 85px;
      width: 500px
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }

    .editdeletebutton1{
      background: #40f99b;
      border: none;
      border-radius: 7px;
      height: 70px;
      width: 200px;
      font-size: 32px;
      font-weight: bold;

  }